/* general settings */
.App {
  margin: 10px;
  margin-bottom: 50px; /* debugger */
}

.box {
  display: flex;
  border: 1px solid black;
  line-height: 0.4em;
  padding: 10px;
  margin: 10px;
}

/* credit Card compoment */
#credit-card-list {
  display: flex;
  justify-content: space-around;
}

.credit-card {
  border: 0px solid black;
  border-radius: 10px;
  padding: 15px;
  width: 25%;
}

.cardImg {
  height: 20px;
  display: block;
  margin-left: auto;
}

.biggerText {
  font-size: 1.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallerText {
  font-size: 0.8rem;
}

/* Driver Card Component */

.driver-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #425cbb;
  width: 95%;
  margin: 20px;
  border-radius: 10px;
  color: white;
  padding: 20px 0;
  line-height: 1.8rem;
}

.driver-card-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.driver-name {
  font-size: 1.8rem;
}
