/* general settings */
.App {
  margin: 10px;
  margin-bottom: 50px; /* debugger */
}

.box {
  display: flex;
  border: 1px solid black;
  line-height: 0.4em;
  padding: 10px;
  margin: 10px;
}

.padding-right-15px {
  padding-right: 15px;
}

/* box color */
.box-color {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  margin: 10px;
  padding: 15px 0;
}

/* credit Card compoment */
#credit-card-list {
  display: flex;
  justify-content: left;
}

.credit-card {
  border: 0px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 0 15px;
  width: 25%;
}

.cardImg {
  height: 20px;
  display: block;
  margin-left: auto;
}

.biggerText {
  font-size: 1.5rem;
  /* display: block; */
  text-align: center;
  margin: 15px 0;
}

.smallerText {
  font-size: 0.8rem;
}

.smallerText span {
  margin-right: 20px;
}

/* Driver Card Component */

.driver-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #425cbb;
  width: 95vw;
  margin: 20px;
  border-radius: 10px;
  color: white;
  padding: 20px 0;
  line-height: 1.8rem;
}

.driver-card-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.driver-name {
  font-size: 1.8rem;
}

/* Like Button */

.like-button {
  padding: 10px 25px;
  font-size: 2rem;
  color: white;
}

/* Clickable picture  */

.clickable-picture-img {
  width: 200px;
}

/* Dice */

.dice-img {
  width: 100px;
}

/* NumbersTable */
#numbers-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.even-number {
  background-color: red;
  border: 2px solid black;
  border-width: thin;
  list-style: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.odd-number {
  background-color: white;
  border: 2px solid black;
  border-width: thin;
  list-style: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FaceBook */
.profile-pictures {
  width: 150px;
  object-fit: cover;
}

/* FaceBook extra */
.highlighted-element {
  background-color: #a3d2e2;
}
